{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Глааня страница</title>
</head>
<body>
    <header id="header">
        <div class="name_block">
            <h1>Сборка пк</h1>
        </div>
        <div class="button_box">
            <div class="header_btn">
                <a href="{% url 'main_page' %}">ГЛАВНАЯ</a>
            </div>
            <div class="header_btn">
                <a href="{% url 'search_page' %}">ПРЕДЛОЖЕНИЯ</a>
            </div>
            <div class="header_btn">
                <a href="{% url 'info_page' %}">О НАС</a>
            </div>
            {% if not request.user.is_authenticated %}
                <div class="header_btn">
                    <a href="{% url 'auth' %}">Авторизация / </a>
                    <a href="{% url 'sign_in' %}">Регистрация</a>
                </div>
            {% else %}
                <div class="header_btn">
                    <a href="{% url 'logout_view' %}">Выйти из аккаунта</a>
                </div>
            {% endif %}
        </div>
        <div class="empty"></div>
    </header>
    <main>
        <div class="block_1">
            <div class="b_1_text">
                <h2>Персональный компьютер для работы</h2>
                <p>Выбери подходящий компьютер из списка, или измени его для работы или учебы</p>
                <a href="{% url 'search_page' %}">Кликай ради работы</a>
            </div>
            <img src="{% static 'images/b_1_img.png' %}" alt="b_1_img">
        </div>
        <div class="block_2">
            <div class="b_2_text">
                <h2>Персональный компьютер для игры</h2>
                <p>Выбери готовый игровой сетап или измени его под себя для подходящего стиля игры</p>
                <a href="{% url 'search_page' %}">Кликай ради каток</a>
            </div>
            <img src="{% static 'images/b_2_img.png' %}" alt="b_2_img">
        </div>
        
    </main>
    <footer>
        <div class="name_block">
            <h1>Сборка пк</h1>
        </div>
        <div class="footer_text">
            <p>Телефон: +7 (***)***-**-**</p>
        </div>
        <div class="footer_text">
            <p>Почта: ***********@mail.ru</p>
        </div>
        <div class="links">
            <a href="#"><img src="{% static 'images/inst_footer.svg' %}" alt="instagram"></a>
            <a href="#"><img src="{% static 'images/vk_footer.svg' %}" alt="vk"></a>
            <a href="#"><img src="{% static 'images/youtube_footer.svg' %}" alt="youtube"></a>
        </div>
    </footer>

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
</body>
</html>